:root {
  --red: #df6757;
  --yellow: #fac72e;
  --purple: #9e82d8;
}

body {
    margin: 0px;
}

.container {
    margin: 0 calc((100vw - min(89vh, 100vw)) / 2);
}

.header {
    height: 10vh;
    background: var(--purple);
    color: var(--yellow);
}

.header p {
    margin: auto;
    font: bold min(3vh, 3vw)/10vh sans-serif;
    text-align: center;
}

svg {
    width: min(89vh, 100vw);
    height: min(89vh, 100vw);
}

circle {
    r: 4px;
    stroke-width: 1px;
    stroke: black;
}

circle.leaf {
    fill: var(--red);
}

circle.parent {
    fill: var(--yellow);
}

circle:hover {
    r: 8px;
    cursor: pointer;
}

path {
    stroke-width: 1px;
    stroke: black;
    fill: none;
}

path:hover {
    stroke-width: 2px;
    cursor: pointer;
}

text {
    font: 14px sans-serif;
}

text:hover {
    font-weight: bold;
    cursor: pointer;
}